/* style for contact.html at 980*/

.container {
background-image: url(concrete-texture.png);
margin: none !important;
padding: 10% 20% 20% 10%;
}
.white {
    padding: 5%;
    margin: auto;
    background: #ffffff;
}
.navbar {
    background: #ffffff;
}
.navbar-brand {
    margin-left: 1.5rem;
    margin-right: 2rem;
    font-size: 2.25rem;   
    background: #4aaaa5;
}
.fixed-bottom {
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    background: #666666;
    border-top:#4aaaa5;
    padding-top: 1.7rem;
}
h1 {
    padding: 3%;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    margin: none;
}
h2 {
    padding: 3%;
    text-align: center;
    margin-right: 68%;
    color: #4aaaa5;
    margin: none;
}
.col{
  padding:0 !important;
}
.col-md-1 {
    padding: 0 !important;
}
/* .btn.btn-light {
    size: 87 38;
} */
.btn-primary {
    color: #ffffff;
    background: #4aaaa5;
    border-color: #4aaaa5;
}
@media (max-width: 768px) {
    .container1 {
        padding: 4% 2% 20% 2%;
    
    }
    .col-md-3 offset-md-2 {

    }
}
@media (max-width: 640px) {
    .navbar-brand {
    font-size: 5.25rem;
    }
}
/* stylesheet for portfolio.html */
.row {
    margin-top: 7%;
}
.card-body {
    background: #4aaaa5;
}
.card-text {
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 5%;
}

/* stylesheet for index.html */